HTTP/1.1 200 OK
Access-Control-Allow-Origin: {{getenv "GRAFANA_URL"}}
Access-Control-Allow-Credentials: true
Access-Control-Allow-Headers: Authorization
Access-Control-Allow-Methods: GET, OPTIONS
Access-Control-Max-Age: 31536000
Content-Length: 0
Cache-Control: private


